body {
    margin: 0;
    background-color: lightgoldenrodyellow;
}

.development {
    margin: auto;
    height: 100vh;
}

.main {
    margin: auto;
    height: 100vh;
}

.main {
    display: grid;
    grid-template-rows: [screen-row-begin] 1fr [screen-row-end];
    grid-template-columns: [buttons-column-begin] minmax(100px, 200px) [controls-column-begin] minmax(400px, auto) [controls-column-end];
    justify-content: stretch;
    align-content: stretch;
}

.buttons {
    grid-area: screen-row-begin / buttons-column-begin / screen-row-end /
        controls-column-begin;
    background-color: red;
}

.controls {
    grid-area: screen-row-begin / controls-column-begin / screen-row-end /
        controls-column-end;
    background-color: blue;
}
