
.error-page {
    height: 100%;
}

.error-header {
    font-size: 30px;
    margin: 2% 2%;
    color: red;
}

.error-message {
    margin: 2% 2%;
    overflow: scroll;
    color: black;
}
.error-message::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.error-message::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.error-message::-webkit-scrollbar-thumb {
    background: #888;
}

@button-background: lightgray;

.button {
    font-size: 200%;
    background-color: @button-background;
    color: #3a3a3a;
}

.copy-error-button {
    margin: 2% 2%;
    .button();
}
.copy-error-button:active {
    background-color: gray;
}

.return-button {
    margin: 2% 2%;
}

.return-button a {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    text-decoration: none;
    text-align: center;
    .button();
}
.return-button a:active {
    background-color: gray;
}
