@import '../dark-style';

.dev-menu {
    list-style-type: none;
    margin: auto;
    height: 100%;
    padding: 0;
}

.borders {
    border-top: @border;
    border-right: @border;
}

.dev-menu li a {
    display: block;
    color: lightgray;
    text-decoration: none;
}

.dev-menu li {
    background: @color;
    text-align: center;
    padding: 5% 0;
    .borders();
}

#selected-button {
    border-right: none;
    background: linear-gradient(90deg, @color 60%, #373737 100%);
}

#free-space {
    height: 100%;
    border-right: @border;
    background: @color;
}
