.dev-menu {
    list-style-type: none;
    margin: auto;
    height: 100%;
    padding: 0;
}

@buttons-color: black;

@border-size: 1px;
@border-color: lightgray;
@border: @border-color solid @border-size;
.borders {
    border-top: @border;
    border-right: @border;
}

.dev-menu li a {
    display: block;
    color: lightgray;
    text-decoration: none;
}

.dev-menu li {
    background: @buttons-color;
    text-align: center;
    padding: 5% 0;
    .borders();
}

#selected-button {
    border-right: none;
    background: linear-gradient(90deg, @buttons-color 60%, #373737 100%);
}

#free-space {
    height: 100%;
    border-right: @border;
    background: @buttons-color;
}
