@header-elements-size: 40px;

.Memeno {
    background: white;
    height: 100%;
}

.header {
    margin: 2% 2%;
}
.content {
    margin: 0 2%;
}
.footer {
    margin: 2%;
}

.memeno-menu-button {
    height: @header-elements-size;
    width: @header-elements-size;
}
.memeno-header {
    color: #ffed2b;
    font-size: @header-elements-size;
}
.memeno-avatar-button {
    height: @header-elements-size;
    width: @header-elements-size;
    border-radius: 50%;
}
