@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');

.header-component {
    margin: auto;

    font-family: 'El Messiri', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #22304a;
}
